/* LoginForm.css */
.login-form {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center horizontally */
  position: fixed; /* Fixed positioning */
  top: 50%; /* Move it down by half of its height */
  left: 50%; /* Move it right by half of its width */
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.login-form label {
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form .sign-up {
  text-align: center;
  margin-top: 20px;
}

.login-form .sign-up a {
  color: #007bff;
}

.login-form .sign-up a:hover {
  text-decoration: underline;
}
